.groupsCollabsible {
    background-color: rgb(102, 4, 32);
    color: azure;
    border: none;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;

}
.content {
    /* border: 1px solid rgb(227, 219, 7); */
    padding: 0.5rem;
    border-radius: 5px;
}
    
.contentParent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.9s;
}
    
.contentShow {
    height: 50px;
    transition: height ease 0.9s;
}

