.pollJoiner {
    top: 0;
    height: auto;
    margin: 5px 5px 5px 5px;
    padding: 1px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

.pollJoinerCardNavBtn{
    margin-top: 2%;
    /* border-radius: 5px; */
    border: none;
    background-color: #c07373;
    width: 20px;
    color: aliceblue;
    font-weight: bold;
}

.myGroupsCardNavBtn{
    margin-top: 2%;
    border-radius: 5px;
    border: none;
    background-color: #c1893a;
    width: 20px;
    color: aliceblue;
    font-weight: bold;
}

.myGroupsCardShareButton {
    margin-left: 2px;
    border-radius: 5px;
}


.pollJoinerCardNavBtnDisabled{
    background-color: rgb(125, 122, 122);
}

.myGroupsCardNavBtnDisabled{
    background-color: rgb(125, 122, 122);
}

.pollJoinerCardLeft{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.myGroupsCardLeft{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.pollJoinerCard {
    text-align: center;
    align-items: center;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    color: #d5ea37;
    font-size: large;
}
.myGroupsCard {
    text-align: center;
    align-items: center;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    color: #37bdea;
    font-size: large;
}

.pollJoinerCardRight{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.myGroupsCardRight{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.pollJoinerControls {
    margin-top: 2%;
    margin-bottom: 1%;
    color: #000000;
    font-weight: bold;
    margin-right: 2px;
}

.pollJoinerBtn{
    /* margin-top: 13px; */
    border-radius: 5px;
    width: 40%;
    border: none;
}

.pollJoinerBtnDisabled{
    border-radius: 5px;
    width: 40%;
    border: none;
    text-decoration: line-through;
    color: #5e5e5e;
    font-weight: lighter;
    font-style: oblique;
}

.pollJoinerTextBox {
    border-radius: 5px;
    width: 50%;
}

.availablePollContainer {
    background-color: #6a1d1d;
    color: #f9f4f4;
}

.createGroup {
    background-color: #5d1d6a;
    color: #f9f4f4;
}

/* .createGroupControls {
    color: #ffffff;
}

.joinGroupControls {
    color: #ffffff;
} */

.joinGroup {
    background-color: #1d4607;
    color: #f9f4f4;
}

.createPollGroupBtn {
    background-color: #d1a3da;
}

.joinPollGroupBtn {
    background-color: #76ad74;
}

.myGroups {
    background-color: #644d0a;
    color: #f9f4f4;
}
.availablePollRadio {
    margin-left: 10px;
}
.activePollContainer {
    top: 0;
    height: 20%;
    /* width: 100%; */
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #8d8989;
    font-size: x-large;
    /* text-align: center; */
}
.activePollTitle {
    top: 0;
    height: 20%;
    /* width: 100%; */
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #0c0c0c;
    font-size: x-large;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
}


.activePollOptionContainer {
    top: 0;
    height: 20%;
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #353434;
    font-size: medium;
}

.activePollOptions {
    top: 0;
    height: 20%;
    /* width: 100%; */
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #1a496b;
    font-size: large;
    color: aliceblue;
    font-weight: 500;
}




.activePollOptionRadio {
    font-size: medium;
    margin-left: 10px;
}
.activePollOptionLabel {
    /* margin: 5px 15px 5px 5px; */
    margin-left: 10px;
    font-size: medium;
    font-stretch: expanded;
}

.activePollActionsContainer {
    top: 0;
    height: 20%;
    /* width: 100%; */
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #5e5e5e;
    font-size: large;
    text-align: center;
}

.activePollActionButton {
    top: 0;
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #cde3e9;
    font-size: large;
    text-align: center;
}


.pollActionText {
    margin: 10px 10px 10px 10px;
    /* font-style: oblique; */
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pollHistoryTitle{
    top: 0;
    height: 20%;
    /* width: 100%; */
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #973030;
    font-size: x-large;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
}

.pollHistoryContainer{
    background-color: rgb(146, 21, 21);
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    padding-top: 5px;
}

.pollHistoryListHeader {
    padding-top: 10px;
    background-color: rgb(229, 172, 151);
    padding: 1px;
    border-radius: 5px;
    /* margin-top: 5px;; */
    /* margin: auto; */
    margin: 5px 5px 5px 5px;
    color: #49400f;
    font-weight: 600;
    
}

.pollHistoryListDetailContainer {
    /* background-color: rgb(39, 120, 120); */
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1px 1px 1px 1px;
    /* margin: auto; */
    /* padding: 1px; */
    /* border-radius: 5px; */
    /* margin-top: 5px;; */
    /* margin: 5px 5px 5px 5px; */
    /* color: #1a496b; */
    /* font-weight: 600; */

}

.pollHistoryListDetail {
    font-weight: 600;
    color: #1a496b;
}

.pollHistoryListDetailSelected{
    background-color: #1a496b;
    color: aliceblue;
}

.pollHistory {
    padding-top: 10px;
    background-color: rgb(22, 84, 131);
    padding: 1px;
    border-radius: 5px;
    /* margin-top: 5px;; */
    /* margin: auto; */
    margin: 5px 5px 5px 5px;
    color: #49400f;
    font-weight: 600;

}
.pollHistoryResultText {
    text-align: center;
}

.pollHistoryResultTextPercentage {
    margin-left: 2px;
}
.pollHistoryResults {
    /* margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px; */
    margin: 10px 10px 15px 10px;
}

.pollHistoryResultProfile {
    text-align: right;
    margin-right: 10px;
}
.pollHistoryResultProfileImg{
    /* border-radius: 50%;
    width: 10px;
    text-align: right; */
    margin-left: 5px;
    width: 30px;
    height: 30px;
    /* line-height: 40px; */
    border-radius: 50%;
    font-size: 80%;
    font-weight: 300;
    color: #f9f4f4;
    text-align: center;
    background-color: #a72727;
}

.participatingPollsContainer {
    top: 0;
    height: auto;
    /* width: 100%; */
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #670404;
    font-size: x-large;
    /* text-align: center; */
    color: aliceblue;
    font-weight: 700;
    /* paadding-right: 20px;; */

}

.participatingPollsText {
    top: 5px;
    padding-left: 2%;
    padding-right: 1%;
    bottom: 0;
}

.participatingPollNavBtn {
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 2%; */
    border: none;
    background-color: #2f0101;
    width: auto;
    color: aliceblue;
    font-weight: bold;
    font-weight: lighter;
    border-width: 1px;
    border-style: dotted;
    border-color: #37bdea;

}

.participatingPollNavBtnDisabled {
    background-color: #8b8787;
    border-color: #b8e2f0;
    border-style: none;    
    margin-left: 5px;
    margin-right: 5px;

}
.participatingPollNavLeftBtn {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.participatingPollNavRightBtn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.adminLabel {
    padding-top: 10px;
    font-size: medium;

}
.adminFreezeButton {
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    /* width: 150px; */
}

.adminCalculatePoints {
    top: 0;
    margin: 5px 5px 5px 5px;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 1px;
    border-radius: 5px;
    background-color: #cde3e9;
    font-size: medium;
    text-align: center;
}
.adminRightAnswerDropDown{
    font-size: small;
    color: #0c0c0c;
    /* width: 100%; */
    height: auto;
    /* padding-left: 10px; */
    width: 150px;
}
.Tabs {
    /* width: 80%; */
    /* height: auto; */
    min-height: 10px;
    background: #141616;
    /* margin: 3.5rem auto 1.5rem; */
    /* padding: 2rem; */
    color: #ecece8;
    /* border-radius: 2rem; */
    @media (max-width: 769px) {
     padding: 2rem 0;
    }
   }

   ul.nav {
    /* width: 60%; */
    margin: 0 auto 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  
  ul.nav li {
    width: 50%;
    padding: 0.25rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  ul.nav li:hover {
    background: rgba(152, 230, 217, 0.15);
  }
  ul.nav li.active {
    background: #5c88a2;
  }