.profileContainer {
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 5px 5px 5px 5px; */
    align-items: center;
    align-content: center;
    align-self: center;
    /* margin: 20px 5px 5px 1px; */
    /* border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; */
    /* background-color: #88ebf3; */
}
.profileImg {
    border-radius: 50%;
    width: 60%;
    padding-top: 10%;
}

.profileName {
    display: flex; 
    justify-content: center;
    /* border-collapse: collapse; */
    /* width: 80%; */
    /* margin-top: 3px; */
    /* margin-bottom: 3px; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-stretch: expanded; */
    margin: 0px;
    border-width: 1px;
    display: inline-block;
}

.profileLogout {
    border-radius: 50%;
    /* width: 10%; */
    /* padding-top: 0%; */
    vertical-align: super;
    background-color: #cb1111;
    box-shadow: none;
    outline: none;
    /* border-width: 1px; */
    border:none;
    /* text-align: center;  */
    /* vertical-align: middle; */
    /* display:inline-block; */
    margin: 0px; /* remove all margins to fit two divs in the container */
    display: inline-block; /* display block elements in one line */
}

.profileLogin {
    border-radius: 5%;
    /* width: 10%; */
    /* padding-top: 0%; */
    vertical-align: super;
    margin-top: 30%;
    color: aliceblue;
    background-color: #082f51;
    box-shadow: none;
    /* outline: none; */
    border-width: 1px;
    /* border:none; */
    /* text-align: center;  */
    /* vertical-align: middle; */
    /* display:inline-block; */
    display: inline-block; /* display block elements in one line */
}

.googleLogin {
    transition: background-color .3s, box-shadow .3s;
    margin-top: 35%;

    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 35px;
    /* padding: 12px 16px 12px 42px; */
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
  }


@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: $size;
    height: $size;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: ($size - $thickness) / 2;
      left: 0;
      right: 0;
      height: $thickness;
      background: $color;
      border-radius: $thickness;
    }
  
    &:before {
      transform: rotate(45deg);
    }
  
    &:after {
      transform: rotate(-45deg);
    }
  
    span {
      display: block;
    }
  
  }
  
  .btn-close {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #45ebd2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
    
    .icon-cross {
      @include cross(40px, #fff, 6px);   
    }
    
    &:hover,
    &:focus {
      transform: rotateZ(90deg);
      background: hsl(216, 100, 40);
      background-color: #ff0000;
    }
  
  }
  
  